body {
  margin: 0;
  padding: 0;
	font-family: sans-serif;
	background-color: #F8F8F8;
}

/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#main-app {
	margin-top: 40px;
	padding: 15px;
	transition: all .5s;
}
.App.fixed-sidebar #main-app {
	margin-left: 220px;
}
.clear-both {
	clear: both;
}
.text-muted {
	color: #636c72 !important;
}
a, a:hover, a:focus {
	text-decoration: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
